h1{
    color: #ea4748;
    text-align: center;
    font-size: 5em;
    font-family: "Rock 3D", system-ui;
    margin-bottom: 20px;
   
}
h2{
    color: #ea4748;
    text-align: center;
    font-size: 2em;
    font-family: "Rock 3D", system-ui;
    margin-bottom: 20px;
}
audio {
    display: block;
    margin: 20px auto;
    
}
.music-box {
    width: 400px;
    margin: 25px auto;
    padding: 20px;
    border-radius: 15px;

    /* Red to black gradient */
    background: linear-gradient(135deg, #ea4748, #000000);

    /* Optional glow effect */
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.6);

    text-align: center;
}

.music-box audio {
    width: 100%;}
h3{
    color: #ea4748;
    text-align: center;
    font-size: 1.5em;
    font-family: "Hachi Maru Pop", cursive;
    margin-bottom: 20px;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: 300px;
}
body{
    background-color: #000000;
}




p{
    color: #ea4748;
    text-align: center;
    font-size: 1em;
    font-family: 'special gothic', sans-serif;
    margin-bottom: 20px;
    margin-top: 20px;
}